<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">
  <meta name="author" content="Emmanuel Delgado Mej&iacute;a, Diego Huaracha Gasca">
  <title>SAVE</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/general.css}" />
  <link rel="icon" type="image/png" th:href="@{/img/avocado.png}" />

  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body class="p-3">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">SAVE</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        
        </ul>
        
        <form class="form-inline mt-2 mt-md-0" th:action="@{/index.do}" method='POST' id='loginForm' autocomplete='off'>
        	<select class="form-control mr-sm-2" name="claveUsuario" id="sltClaveUsuario">
        		<option value="-1">-- Seleccione un usuario --</option>
        		<option th:each="usuario: ${usuarios}" th:value="${usuario.clave}" th:text="${usuario.nombre} + ' ' + ${usuario.apellidoPaterno} + ' ' + ${usuario.apellidoMaterno}"></option>
        	</select>

        	<input class="form-control mr-sm-2" type="password" placeholder="Contrase&ntilde;a" aria-label="Contrase&ntilde;a" name="password" id="txtContrasennia">

        	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar sesión</button>
        </form>
      </div>
    </nav>

	<section>
		
	</section>

    <footer>
    	
    </footer>
</body>
</html>