<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Gestión de Negocio SAVE" />
	<meta name="author" content="Emmanuel Delgado Mej&iacute;a, Diego Huaracha Gasca" />
	<title>SAVE - Principal</title>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/general.css}" />
	<link rel="icon" type="image/png" th:href="@{/img/avocado.png}" />

	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sesion.js}"></script>
</head>
<body class="bg-sesion">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<span class="navbar-brand">SAVE</span>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Catálogos
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Usuarios</a>
						<a class="dropdown-item" href="#">Proveedores</a>
						<a class="dropdown-item" href="#">Producto (Variedad)</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>	
			</ul>
			
			<form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" id="frmLogout" method="POST">
				<button type="button" class="btn btn-outline-warning btn-sm" id="btnCerrarSession">Cerrar Sesi&oacute;n</button>
			</form>
		</div>
	</nav>
	
	<section class="user-data">
		<strong sec:authentication="name">Nombre de Usuario</strong>
	</section>

	<div class="container">
		
	</div>
	
	<footer class="footer-document">
		<section class="col-md-6">
			<ul class="ul-no-bullets">
				<li><strong>Save</strong></li>
				<li><a href="./organizacion/mapasitio.html">Mapa de Sitio</a></li>
				<li><a href="./organizacion/terminosycondiciones.html">T&eacute;rminos y condiciones</a></li>
			</ul>
		</section>
		<section class="col-md-6">
			<ul class="ul-no-bullets">
				<li><strong>Soporte</strong></li>
				<li><a href="./soporte/encuesta.html">Encuesta</a></li>
				<li><a href="./soporte/contacto.html">Cont&aacute;cto</a></li>
			</ul>
		</section>
	</footer>
</body>
</html>
